# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Uploaded Media
media/

# Environment Variables
.env

# Static Files (generated during deployment)
staticfiles/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db